@import url("https://fonts.googleapis.com/css2?family=Faculty+Glyphic&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap");

* {
  font-family: "Sour Gummy", cursive;
}

:root {
  --gray-500: #adb5bd;
}

.bg-gray-500 {
  background-color: var(--gray-500);
}
